<h1>Aluguel cancelado</h1>

<p>Olá <%= @rental.user.email %>,</p>

<p>
O aluguel do veículo
<strong><%= @rental.vehicle.brand %> <%= @rental.vehicle.model %></strong>
foi cancelado com sucesso.
</p>

<p>
Data de início: <%= @rental.start_date %><br>
Data de cancelamento: <%= @rental.end_date %>
</p>

<p>O veículo já está disponível novamente.</p>