<div class="auth-container">
  <div class="auth-card">

    <div class="auth-tabs">
      <%= link_to "Login", new_user_session_path, class: "tab active" %>
      <%= link_to "Registrar", new_user_registration_path, class: "tab" %>
    </div>

    <h2>Entrar</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="form-actions">
        <%= f.submit "Entrar", class: "btn-primary" %>
      </div>

    <% end %>

  </div>
</div>